@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
:root {
  @apply h-full bg-bg-color font-main text-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading !important;
}

body {
  @apply h-full bg-bg-color text-text-color;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.glass-btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
